@model AlbumViewModel

<div class="card" style="height: 100%">
    <a asp-page="/AlbumPage" asp-route-id="@Model.Id">
        <div class="card-image">
            <figure class="image is-square">
                <img src="~/images/album-covers/placeholder.jpg" alt="@Model.Name">
            </figure>
        </div>
        <div class="card-content">
            <p class="title is-5 has-text-centered">
                @Model.Name
            </p>
            <p class="subtitle has-text-centered">
                @Model.CreatorName
            </p>
        </div>
    </a>
</div>