@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <p class="title">Spotify mainpage</p>
    @if (User.Identity.IsAuthenticated)
    {
        <p>@User.Identity.Name</p>
    }
</div>