@page
@model Spotify.UI.Pages.SearchModel
@{
}

<div class="container" id="app">
    <div class="field">
        <div class="control">
            <input class="input is-fullwidth" v-model="search" />
        </div>
    </div>
    <div class="columns">
        <div class="column" v-if="musicians">
            <table class="table is-fullwidth">
                <caption class="title is-fullwidth">
                    Musicians
                </caption>
                <tr v-for="musician in musicians">
                    <td>
                        <figure class="image is-48x48">
                            <img :src="'/Musicians/' + musician.fileName" :alt="musician.name" />
                        </figure>
                    </td>
                    <td>
                        <a :href="'/Musician/Profile?id=' + musician.id">
                            {{musician.name}}
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="column" v-if="users">
            <table class="table is-fullwidth">
                <caption class="title">
                    Users
                </caption>
                <tr v-for="user in users">
                    <td>
                        <figure class="image is-48x48">
                            <img :src="'/ProfilePicture/' + user.fileName" :alt="user.name" />
                        </figure>
                    </td>
                    <td>
                        <a :href="'/Accounts/UserProfile?id=' + user.id">
                            {{user.userName}}
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="column" v-if="albums">
            <table class="table is-fullwidth">
                <caption class="title">
                    Albums
                </caption>
                <tr v-for="album in albums">
                    <td>
                        <figure class="image is-48x48">
                            <img :src="'/Albums/' + album.fileName" :alt="album.name" />
                        </figure>
                    </td>
                    <td>
                        <a :href="'/AlbumPage?id=' + album.id">
                            {{album.name}}
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="column" v-if="songs">
            <table class="table is-fullwidth">
                <caption class="title">
                    Songs
                </caption>
                <tr v-for="song in songs">
                    <td>
                        <figure class="image is-48x48">
                            <img :src="'/Albums/' + song.albumFileName" :alt="song.name" />
                        </figure>
                    </td>
                    <td>
                        <a :href="'/AlbumPage?id=' + song.albumId">
                            {{song.name}}
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="column" v-if="playlists">
            <table class="table is-fullwidth">
                <caption class="title">
                    Playlists
                </caption>
                <tr v-for="playlist in playlists">
                    <td>
                        <figure class="image is-48x48">
                            <img :src="'/Playlists/' + playlist.fileName" :alt="playlist.name" />
                        </figure>
                    </td>
                    <td>
                        <a :href="'/PlaylistPage?id=' + playlist.id">
                            {{playlist.name}}
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="~/js/search.js"></script>
}