@page
@model Spotify.UI.Pages.UpdatePlaylistModel
@{
}

<div class="columns is-centered">
    <div class="column is-4">
        <form method="post" enctype="multipart/form-data">
            <div class="field">
                <label class="label">Playlist Name</label>
                <div class="control">
                    <input class="input" asp-for="Input.Name" />
                </div>
            </div>
        
            <div class="field">
                <label class="label">Cover picture</label>
                <div class="control">
                    <input class="input" asp-for="Input.File" />
                </div>
            </div>
        
            <input asp-for="Input.Id" hidden />
            <button type="submit" class="button is-success">Update</button>
            <a class="button is-warning ml-5" asp-action="SetDefaultCover" asp-controller="Playlist" asp-route-id="@Model.Input.Id">
                Set default cover picture
            </a>
        </form>
    </div>
</div>