@page
@model Spotify.UI.Pages.Accounts.AddPlaylistModel
@{
}

<div class="columns is-centered">
    <div class="column is-4">
        <form method="post" enctype="multipart/form-data">
            <div class="field">
                <label class="label">Playlist name</label>
                <div class="control">
                    <input class="input" asp-for="Input.Name" />
                </div>
            </div>
        
            <div class="field">
                <label class="label">Cover picture</label>
                <div class="control">
                    <input class="input" asp-for="Input.File" />
                </div>
            </div>
        
            <button type="submit" class="button is-success">Sumbit</button>
        </form>
    </div>
</div>
