@page
@model Spotify.UI.Pages.Accounts.LikedSongsModel
@{
}

<div class="container">
    <table class="table is-fullwidth">
        <caption>
            <p class="title">Liked Songs</p>
            <p class="subtitle">@Model.Songs.Count()</p>
        </caption>
        @foreach(var song in Model.Songs)
        {
            <partial name="_SongTableItemPartial" model="song"/>
        }
    </table>

    @{
        var firstSong = Model.Songs.FirstOrDefault();
        var audioModel = new AudioViewModel
            {
                FileName = firstSong?.FileName,
                MusicianName = firstSong?.CreatorName,
                SongName = firstSong?.Name
            };
    }

    <partial name="_AudioPartial" model="@audioModel"/>
</div>

@section Scripts{
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/likeSong.js"></script>
    <script src="~/js/playSong.js"></script>
}