@page
@model Spotify.UI.Pages.Accounts.LoginModel
@{
}

<div class="columns is-centered mt-1">
    <div class="column is-4">
        <form method="post">
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" asp-for="Input.Email" placeholder="Email"/>
                    <span class="help is-warning" asp-validation-for="Input.Email"></span>
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" type="password" asp-for="Input.Password" placeholder="Password"/>
                    <span class="help is-warning" asp-validation-for="Input.Password"></span>
                </div>
            </div>
            <div class="field is-centered">
                <div class="control">
                    <button class="button is-success">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>