@page
@model Spotify.UI.Pages.Accounts.RegisterModel
@{
}

<div>
    <form method="post">
        <label>Username</label>
        <input asp-for="Input.Username" />
        <label>Email</label>
        <input asp-for="Input.Email" />
        <label>Password</label>
        <input asp-for="Input.Password" />
        
        <input type="submit" />
    </form>
</div>