@page
@model Spotify.UI.Pages.Admin.AlbumsModel
@{
}

<div id="app">
    <div class="columns mt-1">
        <div class="column is-2">
            <table class="table is-fullwidth">
                <caption class="title">Musicians</caption>
                <tr v-for="musician in musicians">
                    <td>{{musician.id}}</td>
                    <td @@click="selectMusician(musician)">{{musician.name}}</td>
                </tr>
            </table>
        </div>
        <div class="column is-4" v-if="selectedMusician">
            <table class="table is-fullwidth">
                <caption class="title">Albums</caption>
                <tr v-for="(album, index) in selectedMusician.albums">
                    <td>{{album.id}}</td>
                    <td>{{album.name}}</td>
                    <td>{{album.songCount}}</td>
                    <td>
                        <button class="button is-danger is-fullwidth" @@click="deleteAlbum(album.id, index)">
                        Delete
                        </button>
                    </td>
                    <td>
                        <button class="button is-warning is-fullwidth" @@click="selectAlbum(album, index)">
                            Update
                        </button>
                    </td>
                </tr>
            </table>

            <div class="columns">
                <div class="column is-half">
                    <div class="field">
                        <div class="control">
                            <input class="input" v-model="albumModel.name" />
                        </div>
                    </div>
                </div>
                
                <div class="column is-half">
                    <button class="button is-success" @@click="addAlbum">Add new album</button>
                </div>
            </div>
        </div>

        <div class="column is-3" v-if="updatedAlbum">
            <p class="title">Update Album</p>
            <div class="columns">
                <div class="column is-half">
                    <div class="field">
                        <div class="control">
                            <input class="input" v-model="updatedAlbum.name" />
                        </div>
                    </div>
                </div>
                <div class="column is-half">
                    <button class="button is-warning" @@click="updateAlbum">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/admin/albumManager.js"></script>
}