@page
@model Spotify.UI.Pages.Admin.IndexModel
@{
}

<div id="app" class="column is-half">
    <div v-if="!editing">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Number of followers</th>
                <th>Number of songs</th>
                <th>Number of plays</th>
                <th></th>
                <th></th>
            </tr>
            <tr v-for="(musician, index) in musicians">
                <td>{{musician.id}}</td>
                <td><a :href="'/Admin/Musician?id=' + musician.id">{{musician.name}}</a></td>
                <td>{{musician.numberOfFollowers}}</td>
                <td>{{musician.numberOfSongs}}</td>
                <td>{{musician.numberOfPlays}}</td>
                <td><button class="button is-warning" @@click="editMusician(musician, index)">Edit</button></td>
                <td><button class="button is-danger" @@click="deleteMusician(musician.id, index)">Delete</button></td>
            </tr>
        </table>

        <button @@click="newMusician" class="button is-success">Add new</button>
    </div>

    <div v-else>
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" v-model="musicianModel.name" />
            </div>
        </div>
        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                    <input class="input" v-model="musicianModel.description" />
            </div>
        </div>
        
        <div class="field" v-if="musicianModel.id == 0">
            <div class="control">
                <input class="input" type="file" @@change="fileChange($event)" />
            </div>
        </div>

        <button @@click="addMusician" class="button is-success" v-if="musicianModel.id == 0">Add</button>
        <button @@click="updateMusician" class="button is-success" v-else>Update</button>
        <button @@click="editing = false" class="button is-danger ml-2">Cancel</button>
    </div>
</div>

@section AdminScripts{
    <script src="~/js/admin/musicianManager.js"></script>
}

@section ManagerScripts{
    <script src="~/js/manager/musicianManager.js"></script>
}