@page
@model Spotify.UI.Pages.Admin.SongsModel
@{
}

<div id="app">
    <div class="columns mt-1">
        <div class="column is-3">
            <table class="table is-fullwidth">
                <caption class="title">Albums</caption>
                <tr v-for="album in albums">
                    <td>{{album.id}}</td>
                    <td>{{album.creatorName}}</td>
                    <td @@click="selectAlbum(album)">{{album.name}}</td>
                </tr>
            </table>
        </div>
        <div class="column is-4" v-if="selectedAlbum">
            <table class="table is-fullwidth">
                <caption class="title">Songs</caption>
                <tr v-for="(song, index) in selectedAlbum.songs">
                    <td>{{song.id}}</td>
                    <td>{{song.name}}</td>
                    <td>{{song.plays}}</td>
                    <td>
                        <button class="button is-warning is-fullwidth" @@click="selectSong(song, index)">Update</button>
                    </td>
                    <td>
                        <button class="button is-danger is-fullwidth" @@click="deleteSong(song.id, index)">Delete</button>
                    </td>
                </tr>
            </table>

            <div class="columns">
                <div class="column is-half">
                    <div class="field">
                        <div class="control">
                            <input class="input" v-model="songModel.name" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input" type="file" @@change="fileChange($event)" />
                        </div>
                    </div>
                </div>
                <div class="column is-half">
                    <button class="button is-success" @@click="addSong">Add new</button>
                </div>
            </div>
        </div>

        <div class="column is-3" v-if="updatedSong">
            <p class="title">Update Song</p>
            <div class="columns">
                <div class="column is-half">
                    <div class="field">
                        <div class="control">
                            <input class="input" v-model="updatedSong.name" />
                        </div>
                    </div>
                </div>
                <div class="column is-half">
                    <button class="button is-warning" @@click="updateSong">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/admin/songManager.js"></script>
}